<h1>Todo Home</h1>
<form>
  <input type='text' placeholder='New Todo' ng-model='newTodo'/>
  <button ng-click='postTodo()' type='submit'>Submit Todo</button>
</form>
<h1>Todos</h1>
<hr/>
<div class='todoList'>
  <h3>New</h3> 
  <ul>
    <li ng-repeat='todo in todos.newTodos'>
      <h3>{{todo.title}}<h3> 
      <button ng-click='removeTodo(todo.objectId)'>Remove Todo</button>
      <button ng-click='advanceTodo(todo)'>Advance Todo</button>
    </li>
  </ul>
</div>
<hr/>
<div class='todoList'>
  <h3>In Progress</h3> 
  <ul>
    <li ng-repeat='todo in todos.inProgTodos'>
      <a ui-sref='todo({todoId: todo.objectId})'><h3>{{todo.title}}<h3></a>
      <button ng-click='removeTodo(todo.objectId)'>Remove Todo</button>
      <button ng-click='advanceTodo(todo)'>Advance Todo</button>
    </li>
  </ul>
</div>
<hr/>
<div class='todoList'>
  <h3>Done</h3>
  <ul>
    <li ng-repeat='todo in todos.doneTodos'>
      <h3>{{todo.title}}<h3>
      <button ng-click='removeTodo(todo.objectId)'>Remove Todo</button>
      <button ng-click='advanceTodo(todo)'>Advance Todo</button>
    </li>
  </ul>
</div>